

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

body{
    margin: 0;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.active {
    color: burlywood;
}
.navbar {
    position: fixed;
    background-color: rgb(71, 67, 67);
    top: 10px;
    left: 0;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    color: aliceblue;
    border-radius: 50px;
    margin: 0 10% 0 10%;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}
header {
    width: 99vw;
    height: 100vh;
    background-image: url('./sssss.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px;
    border-color: black;
}

.header-content {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.7);
    text-align: center;
    padding: 15px 15px;
    border-radius: 30px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 20px;
    margin-bottom: 30px;
}

.line {
    width: 150px;
    height: 4px;
    background: burlywood;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h2 {
    font-size: 3.5vmin;
}

.ctn{
    padding: 8px 15px;
    background: burlywood;
    border-radius: 30px;
    color: rgb(66, 68, 70);
    padding: 10px;
    font-size: 2vmin;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}
/*events*/
section {
    width: 80%;
    margin: 80px auto;

}
.title {
    text-align: center;
    font-size: 4vmin;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 25px 25px;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(192, 180, 180, 0.363);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    
}
.row .col img {
    width: 350px;
    height: 200px;
    display: inline-block;
    border-radius: 20px;
}

.explore {
    width: 100%;
    height: 100vh;
    background-image: url('./oooo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.explore-content {
    width: 60%;
    padding: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(17, 15, 15, 0.582);
    border-radius: 40px;
}
.explore-content h1 {
   font-size: 7vmin;
   margin: 50px;
   background-color: rgba(0, 0, 0, 0.479);
   border-radius: 40px;
   padding: 15px 15px;
}
.col .image-gallery {
    padding: 22px 22px;
}
.tours .col h1 { 
   font-size: 4vmin;
   color: aliceblue;
}
.footer {
    width: 100%;
    height: 200px;
    margin: 0;
    text-align: center;
    background: rgb(73, 68, 61);
}
.footer p {
    font-size: 4vmin;
    color: aliceblue;
}
/* mobile device */
@media only screen and (max-width:850px){
   
    .navbar {
       width: 100%;
    }
    .logo {
        position: absolute;
        padding-right: 10px;
        padding-left: 10px;
        background-color: rgb(0, 0, 0, 0.4);
        border-radius: 10px;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-left: 280px;
    }
    /*events*/
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
}
/*animations*/
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(0.9);
}
.ctn:hover {
    background-color: aliceblue;
    color: burlywood;
    box-shadow: 2px 2px 5px black;
}
li:hover {
    color: rgb(0, 0, 0);
}